* {
    margin: 0;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: blue;
    text-decoration: none;
}

a:active {
    color: darkgrey;
    text-decoration: none;
}


@media screen and (min-width: 320px) {
    .title {
        font-size: 40px;
    }
    .menu-item {
        font-size: 8px;
    }
    .content {
        width: 300px;
    }
    
    .para {
        font-size: 12px;
    }
}

@media screen and (min-width: 600px) {
    .title {
        font-size: 40px;
    }
    .menu-item {
        font-size: 12px;
    }
    .content {
        width: 500px;
    }
    .para {
        font-size: 12px;
    }
}

@media screen and (min-width: 1024px) {
    .title {
        font-size: 60px;
    }
    .menu-item {
        font-size: 16px;
    }
    .content {
        width: 600px;
    }
    .para {
        font-size: 16px;
    }
}

@media screen and (max-width: 1920px) {
    .title {
        font-size: 80px;
    }
    .menu-item {
        font-size: 20px;
    }
    .content {
        width: 900px;
    }
    .para {
        font-size: 20px;
    }
}

.header {
    margin: auto;
}

.title {
    font-family: 'Abril Fatface', sans-serif;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: stretch;
}

.menu-item {
    list-style-type: none;
    background-color: white;
    font-family: 'Merriweather Sans', sans-serif;
    text-align: center;
}

.lang {
    font-family: 'Merriweather Sans', sans-serif;
    text-align: center;
    font-size: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.content {
    padding-top: 30px;
    margin: 0 auto;
}

#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: lightgrey;
    /* Set a background color */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
    font-size: 18px;
    /* Increase font size */
}

#myBtn:hover {
    background-color: #555;
    /* Add a dark-grey background on hover */
}

#langbut {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    top: 10px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: white;
    /* Set a background color */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
    font-size: 18px;
    /* Increase font size */
}

#langbut:hover {
    background-color: #555;
    /* Add a dark-grey background on hover */
    color: white;
}

.splash {
    width: 100%;
    height: 400px;
}

.durga {
    background-image: url(images/durga1.JPG);
    background-position: center;
    background-size: contain;
    background-repeat: repeat-x;
}

.splash.kali {
    margin-top: 30px;
}

.kali {
    background-image: url(images/kali1.JPG);
    background-position: center;
    background-size: contain;
    background-repeat: repeat-x;
}

.h1 {
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 30px;
    font-weight: 900;
    margin-top: 30px;
    margin-bottom: 30px;
}

.h2 {
    text-align: center;
    margin-bottom: 15px;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 20px;
    font-weight: 800;
    margin-top: 30px;
}

.para {
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
    text-align: justify;
    margin-bottom: 20px;

    font-family: 'Merriweather', serif;
   /* font-size: 18px; */
    font-weight: 400;
}

.scrolling-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.card {
    flex: 0 0 auto;
  }

.image {
    padding-left: 15px;
    padding-right: 15px;
    display: block;
    max-height: 300px;
    width: auto;
}

.single {
    width: 100%;
}
