* {
    margin: 0;

}

.header-back {
    display: block;
    width: 0 auto;
    height: 100px;
    background-color: aqua;
}

.header {
    width: 600px;
    margin: auto;
}

.center {
    margin: auto;
    background-color: red;
}

.title {
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
}

.lang {
    float: right;
    font-size: 20px;
    margin-top: 16px;
}

.body {
    padding-top: 30px;
    width: 600px;
    margin: 0 auto;
}

.h1 {
    text-align: center;
    margin-bottom: 15px;
}

.h2 {
    text-align: center;
    margin-bottom: 15px;
}

.para {
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    margin-bottom: 15px;
}